﻿/*公用模块*/
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    touch-calloutt: none;
    font-size: 14px;
}
img {
    width: 100%;
    height: auto;
}
ul, li, dl {
    list-style: none;
    font-size: 0;
}

img {
    -webkit-touch-callout: none;
    display: block;
}

html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
}
input {
border:none;
}
.f-r {
    float: right;
}

.f-l {
    float: left;
}

.overflow-hidden {
    overflow: hidden;
}
.weui-mask, .weui-mask_transparent {
    background: black;
    opacity: 0.2;
}