
.bg-new {
    overflow: auto;
    width: 100%;
    height: 100%;
    background: #393D46;
    padding: 0 .26rem;
}

.dialog {
    border-radius: .1rem;
    margin: .85rem 0 .2rem 0;
    background: #F9F9FB;
    height: auto;
    padding: .36rem .19rem;
}
.xinxi {
    width: .67rem;
    height: auto;
    margin: auto;
}
h4 {
    margin-top: .17rem;
    color: #656567;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
}
p {
    color: #666666;
    font-size: 14px;
    text-align: center;
    margin-bottom: .1rem;
    margin-top: .03rem;
}
input {
    margin-top: .14rem;
    height: .56rem;
    width: 100%;
    border: 1px solid #B7B7B7;
    border-radius: .1rem;
    padding: 0 .1rem;
}
.btn-post {
    background-color: #659AFE;
    width: 100%;
    margin-top: .32rem;
    color: white;
    height: .56rem;
    font-size: 20px;
    border-radius: .1rem;
    line-height: .56rem;
    text-align: center;
}
@media (min-width: 320px){html{font-size: 42.6667px;} }
@media (min-width: 360px){html{font-size: 48px;} }
@media (min-width: 375px){html{font-size: 50px;} }
@media (min-width: 384px){html{font-size: 51.2px;} }
@media (min-width: 414px){html{font-size: 55.2px;} }
@media (min-width: 448px){html{font-size: 59.7333px;} }
@media (min-width: 480px){html{font-size: 48px;} }
@media (min-width: 512px){html{font-size: 68.2667px;} }
@media (min-width: 544px){html{font-size: 72.5333px;} }
@media (min-width: 576px){html{font-size: 76.8px;} }
@media (min-width: 608px){html{font-size: 81.0667px;} }
@media (min-width: 640px){html{font-size: 85.3333px;} }
@media (min-width: 750px){html{font-size: 100px;} }
